.bg-img{
    background-image: url("/img/bg-enrolment.jpg");
    background-size: cover;
}
.list-margin {
    margin: 22px auto;
}
.btn-space{
    margin:5px 5px;
}
.fa-warning{
    color: #bf5329;
}
.arab-txt{
    background-color: #ff7243;
    color: #fff;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #d3e0e9;
}
a.arab-txt:hover, a.arab-txt:focus{
    background-color: #ff7243;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #d3e0e9;
}
.chi-txt{
    background-color: #B22222;
    color: #fff;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #d3e0e9;
}
a.chi-txt:hover, a.chi-txt:focus{
    background-color: #B22222;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #d3e0e9;
}
.eng-txt{
    background-color: #0079c1;
    color: #fff;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #d3e0e9;
}
a.eng-txt:hover, a.eng-txt:focus{
    background-color: #0079c1;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #d3e0e9;
}
.fr-txt{
    background-color: #338d11;
    color: #fff;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #d3e0e9;
}
a.fr-txt:hover, a.fr-txt:focus{
    background-color: #338d11;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #d3e0e9;
}
.ru-txt{
    background-color: #6347b2;
    color: #fff;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #d3e0e9;
}
a.ru-txt:hover, a.ru-txt:focus{
    background-color: #6347b2;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #d3e0e9;
}
.sp-txt{
    background-color: #bf8124;
    color: #fff;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #d3e0e9;
}
a.sp-txt:hover, a.sp-txt:focus{
    background-color: #bf8124;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #d3e0e9;
}
/*** select2 custom styles 
.wx{width: auto}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: red;
    transform: scale(2.75, 2.75);
    margin: 0px 10px 5px 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear{
    color: red;
    transform: scale(3.75, 3.75);
    margin: -5px 5px 5px 10px;
}
***/
/*** radio button styles ***/
input[type=radio].with-font,
input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
input[type=radio].with-font ~ label:before,
input[type=checkbox].with-font ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #535353;
    width: 1.4em;
}
input[type=radio].with-font:checked ~ label:before,
input[type=checkbox].with-font:checked ~ label:before  {
    content: "\f00c";
    font-size: 1.2em;
    color: darkgreen;
    letter-spacing: 5px;
}
input[type=radio].with-font:disabled ~ label:before {
    content: "\f00d";
    font-size: 1.2em;
    color: red;
    letter-spacing: 5px;
}
input[type=checkbox].with-font ~ label:before {        
    content: "\f096";
}
input[type=checkbox].with-font:checked ~ label:before {
    content: "\f046";        
    color: darkgreen;
}
input[type=radio].with-font:focus ~ label:before,
input[type=checkbox].with-font:focus ~ label:before,
input[type=radio].with-font:focus ~ label,
input[type=checkbox].with-font:focus ~ label
{                
    color: green;
}

/*** select2-multi checkboxes ***/
.select2-results__option .wrap:before{
    font-family:fontAwesome;
    color:#999;
    content:"\f096";
    width:25px;
    height:25px;
    padding-right: 10px;
    
}
.select2-results__option[aria-selected=true] .wrap:before{
    content:"\f14a";
}

/* not required css */

.row
{
  padding: 10px;
}

.select2-multiple, .select2-multiple2
{
  width: 50%
}